{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            " > 5%"
          ],
          "esmodules": false
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime"
    ],
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true, "useBuiltIns": true }]
  ]
}